<main>
    <nav class="desktop">
        <button>
            <svg>
                <use xlink:href="./images/icons-sprite.svg#arrow"></use>
            </svg>

            Вернуться назад
        </button>

        <h3>
            Оплата инвойса №
            <span>32102932</span>
        </h3>
    </nav>

    <section>
        <header>
            <span>
                <svg>
                    <use xlink:href="./images/icons-sprite.svg#ethereum-icon"></use>
                </svg>

                Ethereum
            </span>

            <div class="awaiting error success return">
                <svg>
                    <use xlink:href="./images/icons-sprite.svg#loader-icon"></use>
                </svg>

                <aside>
                    <p>Ожидает Оплаты</p>

                    <span>Осталось 01:32:04</span>
                </aside>
            </div>
        </header>

        <article>
            <aside>
                <div>
                <span>
                    Email:
                    <b>wallettest@gmail.com</b>
                </span>

                    <span class="no-margin">
                    Сумма:
                    <b>25 USD</b>
                </span>
                </div>

                <div>
                    <span>Для оплаты инвойса отсканируйте QR-код через мобильное приложение.</span>

                    <span class="no-margin">Или отправьте <b>0.00351422 ETH</b> на адрес:</span>
                </div>

                <p>
                    <b>3LWgtwSpRzqWRfLnRkdaouwhoCYEDMD1K2</b>

                    <button>
                        <svg>
                            <use xlink:href="./images/icons-sprite.svg#clipboard-icon"></use>
                        </svg>
                    </button>
                </p>
            </aside>

            <div class="qr"></div>
        </article>

        <footer>
            <p>
                Внимательно проверяйте сумму перевода! Сеть BlockChain, как и торговые биржи, удерживает комиссию за
                перевод
                - обязательно учитывайте это при создании вывода!
            </p>

            <a href="#">Отследить перевод</a>
        </footer>
    </section>

    <nav>
        <button>
            <svg>
                <use xlink:href="./images/icons-sprite.svg#arrow"></use>
            </svg>

            Вернуться назад
        </button>
    </nav>
</main>