<!--Feedback-form Card Start-->
<div class="page__content-block page__mid-card registration">
    <div class="page__content-title request__title">Обратная связь</div>

    <form class="login__form" action="#">
        <label class="card__label user-block__label page__mid-card-label">
            <input class="card__input user-block__input page__mid-card-input" type="text">

            <span class="card__input-placeholder user-block__input-placeholder is-active">Email</span>
        </label>

        <label class="card__label user-block__label page__mid-card-label">
            <input class="card__input user-block__input page__mid-card-input" type="text">

            <span class="card__input-placeholder user-block__input-placeholder is-active">Тема</span>
        </label>

        <label class="card__label user-block__label page__mid-card-label--padding-top">
            <textarea class="card__textarea page__mid-card-textarea" type="text"></textarea>

            <span class="card__textarea-placeholder">Сообщение</span>
        </label>

        <button class="page__btn" type="submit">Отправить</button>
    </form>
</div>
<!--Feedback-form Card End-->