<!--Block Request Card Start-->
<div class="page__content-block page__mid-card request">
    <div class="page__content-title request__title">Заявка №45408</div>

    <div class="request__info">
        <div class="request__info-title">Отдаете:</div>

        <div class="request__info-result">
            <img class="request__info-img" src="../../img/bitmap.png" alt="icon-merch">

            <div class="request__info-text">1000.5 PMUSD</div>
        </div>
    </div>

    <div class="request__info">
        <div class="request__info-title">Отдаете:</div>

        <div class="request__info-result">
            <img class="request__info-img" src="../../img/bitmap.png" alt="icon-merch">

            <div class="request__info-text">1000.5 PMUSD</div>
        </div>
    </div>

    <p class="request__description">Заявка действительна в течении 15 минут с момента оформления.</p>

    <div class="page__btn">Перейти к оплате</div>
</div>
<!--Block Request Card End-->