<!--Newsletters Start-->
<div class="page__content-wrapper newsletters">
    <div class="page__content-block newsletters__block">
        <div class="page__content-title">Согласие на рассылку</div>
        <p class="newsletters__description">
            1. Регистрируясь на сайте FlyChange.net пользователей дает свое согласие на
            почтовую рассылку новостей (акции, изменения курса, уведомление о получении платежа и т.д.) от сервиса
            FlyChange.net</p>

        <p class="newsletters__description">
            2. Пользователю дается право отписаться от почтовой рассылки в любой
            момент.
        </p>

        <div class="page__btn newsletters__btn">Отписаться от рассылки</div>
    </div>
</div>
<!--Newsletters End-->
