<!--Registration Card Start-->
<div class="page__content-block page__mid-card registration">
    <div class="page__content-title request__title">Регистрация</div>

    <form class="login__form" action="#">
        <label class="card__label user-block__label page__mid-card-label">
            <input class="card__input user-block__input page__mid-card-input" type="text">

            <span class="card__input-placeholder user-block__input-placeholder is-active">Email</span>
        </label>

        <button class="page__btn login__btn" type="submit">Зарегистрироваться</button>
    </form>

    <div class="page__mid-card-description">
        Уже есть аккаунт?

        <a class="page__mid-card-link" href="#">Войти.</a>
    </div>
</div>
<!--Registration Card End-->