<!--Advantages start-->
<section class="advantages">
  <div class="title">
    Технические
    <span>преимущества</span>
  </div>
  <p>
    Все Наши проекты построены по принципу микросервисной архитектуры. Это дает
    нам ряд преимуществ при разработке, запуске и поддержки проектов. Наши
    преимущества позволяют нам быстро и эффективно запускать новые проекты,
    поддерживать и развивать существующие, что является нашим неоспоримым
    конкурентным преимуществом на рынке.
  </p>

  <div>
    <div class="column">
      <svg>
        <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
      </svg>

      <svg>
        <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
      </svg>

      <div class="item">
        Универсальность сервисов
      </div>

      <div class="item">
        Уникальность сервисов
      </div>

      <div class="item">
        Простота
      </div>

      <div class="item">
        Соблюдение принципа Парето
      </div>

      <div class="item">
        Отказоустойчивость сервисов
      </div>
    </div>
  </div>
</section>
<!--Advantages end-->
