<!--Advantages start-->
<section class="advantages">
  <div class="title">
    Технические
    <span>преимущества</span>
  </div>

  <div class="description">
    <p>
      Все Наши проекты построены по принципу микросервисной архитектуры. Это
      дает нам ряд преимуществ при разработке, запуске и поддержки проектов.
      Наши преимущества позволяют нам быстро и эффективно запускать новые
      проекты, поддерживать и развивать существующие, что является нашим
      неоспоримым конкурентным преимуществом на рынке.
    </p>

    <div class="block">
      <div class="column">
        <div class="img">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
          </svg>
        </div>

        <div class="img">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
          </svg>
        </div>

        <div class="item active">
          Универсальность сервисов
        </div>

        <div class="item">
          Уникальность сервисов
        </div>

        <div class="item">
          Простота
        </div>

        <div class="item">
          Соблюдение принципа Парето
        </div>

        <div class="item">
          Отказоустойчивость сервисов
        </div>
      </div>

      <div class="column">
        <div>
          Одни и те же микро-сервисы могут использоваться в различных проектах,
          что позволяет нам быстро запускать новые проекты высокого уровня
          сложности
        </div>

        <div>
          Каждый сервис выполняет свою собственную миссию, роль в проекте
        </div>

        <div>
          Каждый микро-сервис является достаточно простым в поддержке и
          развитии, не усложненным разнообразной бизнес-логикой. Это позволяет
          обеспечить низкий порог входа при ознакомлении и работе с кодом для
          разработчиков.
        </div>

        <div>
          При разработке микро-сервисов и проектов в целом мы используем принцип
          Парето, на этапе проектирования выделяем критично важный функционал, и
          реализуем его, выпуская продукт «в свет». А в дальнейшем усложняем и
          добавляем новый функционал по мере развития проекта, требований
          бизнеса.
        </div>

        <div>
          Каждый микро-сервис использует свою инфраструктуру, независимую от
          других проектов и сервисов, критичные сервисы дублируются, таким
          образом достигается отказоустойчивость сервисов и проектов в целом,
          что также является ключевым требованием для FinTech продуктов.
        </div>
      </div>
    </div>
  </div>
</section>
<!--Advantages end-->
