<!--Contacts start-->
<section class="contacts">
  <div class="title">
    Наши
    <span>контакты</span>
  </div>

  <div class="block">
    <div class="column">
      <a href="#">
        <img src="../img/map.png" alt="map" />
      </a>

      <div class="wrapper">
        <div>
          <svg>
            <use xlink:href="./images/icons-sprite.svg#mark-map"></use>
          </svg>

          <span>Киев, ул. Маршала</span>
          <span>Тимошенко 29, 2-ой офис</span>
        </div>

        <div>
          <svg>
            <use xlink:href="./images/icons-sprite.svg#phone"></use>
          </svg>

          <span>+38 (067) 784 74 84</span>
        </div>

        <div>
          <svg>
            <use xlink:href="./images/icons-sprite.svg#mail"></use>
          </svg>

          <span>info@involve-it.com</span>
        </div>
      </div>
    </div>

    <div class="column">
      <form action="">
        <h3>Написать нам</h3>

        <label>
          <div class="select">
            <div class="value">
              По вопросам сотрудничества

              <svg>
                <use xlink:href="./images/icons-sprite.svg#arrow-select"></use>
              </svg>
            </div>

            <div class="dropdown">
              <div class="option active">По вопросам сотрудничества</div>
              <div class="option">По вопросам продуктов</div>
              <div class="option">По вопросам трудоустройства</div>
              <div class="option">По другим вопросам</div>
            </div>
          </div>

          <input hidden type="text" />
          <span>Тема</span>
        </label>

        <label>
          <input disabled placeholder="Иван" type="text" />

          <span>Имя</span>
        </label>

        <label>
          <input disabled placeholder="test@gmail.com" type="text" />

          <span>Email</span>
        </label>

        <label>
          <input disabled placeholder="+* (***) *** - ** - **" type="text" />

          <span>Телефон</span>
        </label>

        <label>
          <textarea
            disabled
            placeholder="Ваше сообщение..."
            name=""
            cols="30"
          ></textarea>

          <span>Сообщение</span>
        </label>

        <button disabled class="btn blue">Отправить</button>
      </form>
    </div>
  </div>

  <div class="social-link">
    <a href="#">Instagram</a>
    <a href="#">Facebook</a>
    <a href="#">Linkedin</a>
  </div>
</section>
<!--Contacts end-->
