<!--Main Start-->
<section class="main">
    <div>
        <svg>
            <use xlink:href="./images/icons-sprite.svg#logo-main"></use>
        </svg>


        <div>
            <span class="front">yourself</span>
            <span>technologies</span>
        </div>
    </div>

    <div>Продуктовая IT компания в области fin tech индустрии</div>


    <div class="social-link">
        <a href="#" target="_blank">Instagram</a>
        <a href="#" target="_blank">Facebook</a>
        <a href="#" target="_blank">Linkedin</a>
    </div>
</section>
<!--Main End-->