<!--Main Start-->
<section class="main">
    <div>
        <svg>
            <use xlink:href="./images/icons-sprite.svg#logo-main"></use>
        </svg>


        <div class="cards">
            <div class="front">
                <svg width="180px" height="55px">
                    <use xlink:href="./images/icons-sprite.svg#yourself"></use>
                </svg>
            </div>

            <div>
                <svg width="274px" height="55px">
                    <use xlink:href="./images/icons-sprite.svg#technologies"></use>
                </svg>
            </div>
        </div>
    </div>

    <div>Продуктовая IT компания в области fin tech индустрии</div>


    <div class="social-link">
        <a href="#" target="_blank">Instagram</a>
        <a href="#" target="_blank">Facebook</a>
        <a href="#" target="_blank">Linkedin</a>
    </div>
</section>
<!--Main End-->