<!--Menu pop-up Start-->
<section class="pop-up">
  <div>
    <div>
      <a href="#" class="active">Главная</a>
      <a href="#">
        <span>Наши сервисы</span>

        <svg>
          <use xlink:href="./images/icons-sprite.svg#arrow-right"></use>
        </svg>
      </a>
      <a href="#">Тех. преимущества</a>
      <a href="#">О нас</a>
      <a href="#">Вакансии</a>
      <a href="#">Контакты</a>
    </div>

    <div>
      <div>
        <h3>Наши сервисы</h3>

        <p>Описание Involve Service Box</p>
      </div>

      <div>
        <h3>Wallet-Pay</h3>

        <p>Техническая платформа для приема платежей и осуществления выплат</p>
      </div>

      <div>
        <h3>eCard</h3>

        <p>Платформа для проведения онлайн-платежей банковскими картами</p>
      </div>

      <div>
        <h3>Geller</h3>

        <p>Агрегатор протоколов для выставления инвойсов</p>
      </div>

      <div>
        <h3>Bing</h3>

        <p>Агрегатор протоколов для совершения выплат</p>
      </div>

      <div>
        <h3>Thor</h3>

        <p>Антифрод платформа</p>
      </div>

      <div>
        <h3>Cryptopay</h3>

        <p>Платформа для выставления инвойсов в криптовалюте</p>
      </div>

      <div>
        <h3>Crypton</h3>

        <p>Крипто-фиатный обменник</p>
      </div>

      <div>
        <h3>Cryptoflex</h3>

        <p>Платформа-агрегатор для обеспечения ввода/вывода криптовалют.</p>
      </div>

      <div>
        <h3>Broker</h3>

        <p>Платформа для проведения платежей через терминальные сети</p>
      </div>

      <div>
        <h3>Voucher24</h3>

        <p>Сервис для генерации и активации электронных ваучеров</p>
      </div>

      <div>
        <h3>MAD</h3>

        <p>Крипто-фиатный обменник</p>
      </div>
    </div>
  </div>
</section>
<!--Menu pop-up Start-->
