<!--Features pop-up Start-->
<section class="features">
  <div class="title">
    <span>Особенности работы</span>
    с нами
  </div>
  <div class="description">
    <p>
      Ребята говорят , что это как клуб по интересам, где за результат еще и
      хорошо платят ;)
    </p>
  </div>

  <div class="block">
    <div>
      <img src="../img/platform-dark.png" alt="platform-dark" />
      <img src="../img/platform.png" alt="platform" />
    </div>

    <div class="column">
      <p>
        Совместные тусовочки и корпоративы,легкие на подъем:и в бар и в лес,и в
        поход и на утренние каяки
      </p>

      <p>У нас нет частых собраний по каждому поводу</p>

      <p>Регулярный пересмотр заработной платы</p>

      <p>
        Возможность изменить ситуацию, всегда все можно обговорить и предложить
        свое решение
      </p>
    </div>
  </div>

  <div class="description">
    <div>
      <div class="btn">Назад к вакансиям</div>
    </div>
  </div>
</section>
<!--Features pop-up Start-->
