<!--Service Box Start-->
<section class="service-box">
  <div>
    <div>
      <h3>Service Box</h3>

      <svg>
        <use xlink:href="./images/icons-sprite.svg#logo-main"></use>
      </svg>

      <p>Более 11 комплексных fintech решений и более</p>

      <p>20 готовых микро-сервисов</p>
    </div>
  </div>

  <div>
    <div class="wrapper">
      <div class="column">
        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#service-wallet"></use>
          </svg>

          <h3>Wallet-Pay</h3>

          <p>
            Техническая платформа для приема платежей и осуществления выплат
          </p>
          <a href="#">
            <span>Подробнее</span>

            <svg>
              <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
            </svg>
          </a>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#service-geller"></use>
          </svg>

          <h3>Geller</h3>

          <p>Агрегатор протоколов для выставления инвойсов</p>
          <a href="#">
            <span>Подробнее</span>

            <svg>
              <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
            </svg>
          </a>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#service-thor"></use>
          </svg>

          <h3>Thor</h3>

          <p>
            Антифрод-платформа
          </p>
          <a href="#">
            <span>Подробнее</span>

            <svg>
              <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
            </svg>
          </a>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#service-voucher"></use>
          </svg>

          <h3>Voucher24</h3>

          <p>
            Конвертор денежных средств в цифровые ваучеры
          </p>
          <a href="#">
            <span>Подробнее</span>

            <svg>
              <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
            </svg>
          </a>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#service-broker"></use>
          </svg>

          <h3>Broker</h3>

          <p>
            Техническая платформа для проведения платежей через терминальные
            сети
          </p>
          <a href="#">
            <span>Подробнее</span>

            <svg>
              <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
            </svg>
          </a>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#service-mad"></use>
          </svg>

          <h3>MAD</h3>

          <p>
            Техническая платформа для быстрого создания мобильных приложений
          </p>
          <a href="#">
            <span>Подробнее</span>

            <svg>
              <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="column">
        <div class="block">
          <svg>
            <use
              xlink:href="./images/icons-sprite.svg#service-first-card"
            ></use>
          </svg>

          <h3>eCard</h3>

          <p>
            Техническая платформа для проведения онлайн-платежей банковскими
            картами
          </p>
          <a href="#">
            <span>Подробнее</span>

            <svg>
              <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
            </svg>
          </a>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#service-bing"></use>
          </svg>

          <h3>Bing</h3>

          <p>Агрегатор протоколов для совершения выплат</p>
          <a href="#">
            <span>Подробнее</span>

            <svg>
              <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
            </svg>
          </a>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#service-crypton"></use>
          </svg>

          <h3>Crypton</h3>

          <p>
            Техническая платформа для осуществления онлайн обмена различных
            типов валют
          </p>
          <a href="#">
            <span>Подробнее</span>

            <svg>
              <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
            </svg>
          </a>
        </div>

        <div class="block">
          <svg>
            <use
              xlink:href="./images/icons-sprite.svg#service-cryptoflex"
            ></use>
          </svg>

          <h3>Cryptoflex</h3>

          <p>Агрегатор различных методов ввода/вывода криптовалюты</p>
          <a href="#">
            <span>Подробнее</span>

            <svg>
              <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
            </svg>
          </a>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#service-cryptopay"></use>
          </svg>

          <h3>Cryptopay</h3>

          <p>Техническая платформа для выставления инвойсов в крипто-валюте</p>
          <a href="#">
            <span>Подробнее</span>

            <svg>
              <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>
</section>
<!--Service Box End-->
