<!--Advantages start-->
<section class="team">
  <div class="title">
    Cтань частью нашей
    <span>команды</span>
  </div>

  <div class="description">
    <p>
      Одним из важнейших факторов успеха и развития нашей компании являются
      люди. Поэтому мы максимально стараемся находить единомышленников и людей с
      интересами, нацеленными не только на материальные блага. Вместе мы сможем
      многое!
    </p>
  </div>

  <div class="block">
    <div class="column">
      <div class="img">
        <svg>
          <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
        </svg>
      </div>

      <div class="img">
        <svg>
          <use xlink:href="./images/icons-sprite.svg#link-arrow"></use>
        </svg>
      </div>

      <div class="item active">
        Python Developer
      </div>

      <div class="item">
        Linux system administrator | DevOps
      </div>
    </div>

    <div class="column">
      <h3>Требования</h3>

      <ul>
        <li>Ответственный и осознанный подход к решению задач;</li>
        <li>Опыт работы не менее 2-х лет на позиции sys.admin или devops;</li>
        <li>Администрирование linux-серверов (Ubuntu/Debian);</li>
        <li>Знакомство с Ansible/Terraform;</li>
        <li>
          Администрирование web-сервисов (nginx, uwsgi, unicorn, openresty);
        </li>
        <li>
          Администрирование систем мониторинга (Zabbix, Prometheus, Grafana);
        </li>
      </ul>

      <h3>Будет плюсом</h3>

      <ul>
        <li>Опыт администрирования СУБД (Postgresql, Mongodb);</li>
        <li>Работа с почтовыми сервисами (gmail, postfix);</li>
        <li>
          Опыт работы с Hypervisor (Proxmox, VMware) и облачными сервисами (AWS,
          GCP).
        </li>
      </ul>
    </div>
  </div>

  <div class="description">
    <div>
      <div class="btn">Что мы предлагаем</div>
      <div class="btn blue">Откликнуться на вакансию</div>
    </div>
  </div>
</section>
<!--Advantages end-->
