<!--About Start-->
<section class="about">
  <div>
    <div class="title">
      <span>О нас</span>
    </div>

    <div class="description">
      <p>
        Наша команда- это талантливые специалисты, всех необходимых направлений,
        для успешной реализации проектов, любой сложности.
      </p>
      <p>
        Мы создаем проекты с нуля: проектируем и разрабатываем, администрируем и
        поддерживаем их на протяжении всего времени существования. И конечно, мы
        гордимся своими продуктами!
      </p>
      <p>
        Наша компетенция в сфере fintech подтверждается умением воплощать даже
        самые сложные идеи, в независимости от скорости изменений тенденций мира
        в данном направлении, благодаря принципам в коммуникации и подходам к
        рабочему процессу.
      </p>
      <h4>Люди</h4>
      <p>
        Основными ценностями для нас являются люди и здоровая коммуникация.Для
        нас ценен ответственный подход к работе, инициативность, вовлеченность и
        осознанность.
      </p>
      <h4>От сложного к простому</h4>
      <p>
        Для нас нет слова «невозможно», мы находим решение путем разбора идеи на
        простые, понятные задачи. Придерживаемся торжества простоты во всем.
      </p>
      <h4>Work smart,not hard</h4>
      <p>
        Мы всегда нацелены на результат. Ценим время и всегда находим те самые
        ключевые 20% для получения 80% результата.
      </p>
    </div>
  </div>

  <div>
    <div class="wrapper">
      <div class="column">
        <div class="block">
          <img src="../img/photo1.png" alt="people" />
        </div>

        <div class="block">
          <img src="../img/photo3.png" alt="people" />
        </div>

        <div class="block">
          <img src="../img/photo5.png" alt="people" />
        </div>
      </div>

      <div class="column">
        <div class="block">
          <img src="../img/photo2.png" alt="people" />
        </div>

        <div class="block">
          <img src="../img/photo4.png" alt="people" />
        </div>

        <div class="block">
          <img src="../img/photo6.png" alt="people" />
        </div>
      </div>
    </div>
  </div>
</section>
<!--About End-->
