<!--Modal important Start-->
<div class="page__modal modal">
    <div class="modal__container">
        <svg class="page__icon-svg modal__icon">
            <use xlink:href="./images/icons-sprite.svg#icon-important"></use>
        </svg>

        <div class="modal__title">ОЧЕНЬ ВАЖНО!</div>

        <p class="modal__text">Заявка выполняется автоматически, подтверждение оплаты НЕ ТРЕБУЕТСЯ. Обязательное наличие
            комментария к переводу, который формируется АВТОМАТИЧЕСКИ СИСТЕМОЙ “Order _________ Invoice for bid #_______
            Внимание! Не меняйте сумму, валюту и комментарий к переводу, не делайте повторный перевод, в ином случае Ваш
            платеж зачислен НЕ будет!"
        </p>

        <p class="modal__text">
            Совершайте оплату через ПК или браузер мобильного устройства,
            НЕ ИСПОЛЬЗУЙТЕ приложение QIWI для оплаты.
        </p>

        <div class="modal__btn">Я ознакомлен</div>
    </div>
</div>
<!--Modal important End-->