<!--Modal app-regulations Start-->
<div class="page__modal modal app-regulations">
    <div class="modal__container">
        <svg class="page__icon-svg modal__icon-close">
            <use xlink:href="./images/icons-sprite.svg#icon-close"></use>
        </svg>

        <div class="modal__title">Регламент обработки заявки</div>

        <div class="modal__subtitle">Регламент обмена</div>

        <p class="modal__text">
            Все транзакции обрабатываются в автоматическом режиме, то есть в течении 1-5 минут с момента получения нами
            уведомления об оплате счета.
        </p>

        <p class="modal__text">
            В случае, если не удалось осуществить транзакцию в автоматическом режиме (по любым причинам), она будет
            обработана в ручном режиме в течении 1 часа.
        </p>

        <p class="modal__text">
            Мы ожидаем оплату по выставленной заявке на обмен в течении 15 минут, если не пришел ответ от платёжной
            системы в данный период времени, то заявка будет проверена и обработана оператором в течении часа.
        </p>

        <p class="modal__text">
            Вы всегда можете просмотреть статус своих заявок в личном кабинете и уточнить временя обработки у оператора
            <a class="modal__link" href="#">технической поддержки</a>
        </p>

    </div>
</div>
<!--Modal app-regulations End-->