<!--Modal warning Start-->
<div class="page__modal modal warning">
    <div class="modal__container">
        <svg class="page__icon-svg modal__icon-close">
            <use xlink:href="./images/icons-sprite.svg#icon-close"></use>
        </svg>

        <svg class="page__icon-svg modal__icon">
            <use xlink:href="./images/icons-sprite.svg#icon-warning"></use>
        </svg>

        <p class="modal__text">Сумма к получению меньше минимальной</p>
    </div>
</div>
<!--Modal warning End-->