<div class="page__content">
  <div class="container instructions">
    <h1>Anti-Money Laundering Policy (AML)</h1>
    <br />
    Anti-money laundering (AML) includes a set of measures aimed at the
    prevention of the use of a financial system of a country or a particular
    financial institution for money laundering or terrorism financing.
    International and national institutions, banking and business communities
    deal with the development and implementation of these measures and
    instruments.Below are specific steps taken by QWallety in its activities as
    part of the AML Policy:
    <ul>
      <li>
        There is a top-level official in our management structure, whose main
        task is to supervise the compliance with the policy and procedures of
        QWallety, the best global practices and AML related statutory
        regulations.
      </li>
      <li>
        We trust high-skilled employees of our company working in close contact
        with clients: these are both customer service specialists and heads of
        divisions and departments. As part of the client policy, “Know Your
        Customer» programme is introduced in the company, the main goal of which
        is to understand and to be kept informed of the partners, with whom we
        enter into business relations.
      </li>
      <li>
        We comply with requirements of anti-money laundering legislation of
        Russian Federation. In cases prescribed by the relevant legal acts, the
        company cooperates with officials and government institutions of Russian
        Federation.
      </li>
      <li>
        We monitor recent global trends in anti-money laundering and implement
        them in operation of our company.
      </li>
      <li>
        We are aware of anti-money laundering and statement of facts of
        terrorism financing are an ongoing process requiring continuing
        attention and the ability to track illegal financial schemes.
      </li>
    </ul>
    <h3>Main resources and legal acts related to AML:</h3>
    <ol>
      <li>
        Federal Law of August 7, 2001 No. 115-FZ On Countering Legalisation
        (Laundering) of Proceeds from Crime and Financing of Terrorism;
      </li>
      <li>
        Regulation of the Central Bank of the Russian Federation of March 02,
        2012 No. 375-P On Requirements for the Internal Regulation Concerning
        the Countering Legalisation (Laundering) of Proceeds from Crime and
        Financing of Terrorism;
      </li>
      <li>
        Regulation of the Central Bank of the Russian Federation of August 19,
        2004 No. 262-P Regulation on the Identification of Clients and
        Beneficiaries by Credit Organizations Concerning the Countering
        Legalisation (Laundering) of Proceeds from Crime and Financing of
        Terrorism;
      </li>

      <li>
        Federal Law of the Russian Federation of June 28, 2013 No. 134-FZ On
        Amendments to Certain Legislative Acts of the Russian Federation
        Concerning Illegal Financial Operations;
      </li>
      <li>
        Information Letter of the Central Bank of the Russian Federation No. 24
        On Application of the Law On Countering Legalisation (Laundering) of
        Proceeds from Crime and Financing of Terrorism;
      </li>
      <li>
        Information letter of July 15, 2014 No. 38. On application of clause
        1.3. of Article 6 of the Law dd. August 07, 2001 No. 115-FZ On
        Countering Legalization (Laundering) of Proceeds from Crime and
        Financing of Terrorism;
      </li>
      <li>
        Information letter of August 27, 2014 No. 39 On Countering Legalization
        (Laundering) Of Proceeds From Crime and Financing Of Terrorism
      </li>
      <li>Financial Action Task Force on Money Laundering</li>
      <li>
        Office of Foreign Assets Control (OFAC) of the US Department of the
        Treasury
      </li>
      <li>
        Financial Crimes Enforcement Network (
        <a href="http://www.fincen.gov/">FinCEN</a>
        )
      </li>
      <li>
        International Money Laundering Information Network (
        <a href="http://www.imolin.org/">IMoLIN</a>
        )
      </li>
    </ol>
  </div>
</div>
