<!--AML start-->
<div class="page__content">
    <div class="container instructions">
        <h1>Политика по предотвращению легализации средств, полученных преступным путем (AML)</h1><br>
        <p>Борьба с легализацией денежных средств (anti-money laundering — AML) включает в себя комплекс мер,
            направленных
            на предотвращение использования финансовой системы страны или конкретного финансового учреждения для
            легализации
            средств, полученных преступным путем, или финансирования терроризма. Разработкой и внедрением данных мер и
            инструментов занимаются международные и национальные институты, банковское и деловое сообщество.</p>Ниже
        описаны
        конкретные шаги, которые предпринимает в своей деятельности QWallety, в рамках политики AML:
        <ul>
            <li>В структуре нашего руководства имеется должностное лицо высшего уровня, основная задача которого состоит
                в
                надзоре за соблюдением политики и процедур QWallety, мировой практики и нормативных актов, связанных с
                AML.
            </li>
            <li>Мы доверяем высоко квалифицированным сотрудникам нашей компании, работающим в тесном контакте с
                клиентами:
                это и обслуживающие клиентов специалисты, и руководители отделов и управлений. Как часть клиентской
                политики
                в компании введена программа «Знай своего клиента», основная цель которой — полное понимание и
                информированность о партнерах, с которыми мы вступаем в деловые отношения.
            </li>
            <li>Мы соблюдаем требования законодательства Польши, связанные с борьбой с отмыванием денежных средств. В
                установленных соответствующими правовыми актами случаях компания сотрудничает с должностными лицами и
                государственными институциями Польши.
            </li>
            <li>Мы отслеживаем последние мировые тенденции в борьбе с легализацией денежных средств и имплементируем их
                в
                работу нашей компании.
            </li>
            <li>Мы понимаем, что предотвращение отмывания денежных средств и констатация фактов финансирования
                терроризма
                является непрерывным процессом, требующим постоянного внимания и способности отслеживать незаконные
                финансовые схемы.
            </li>
        </ul>
        <h3>Основные ресурсы и законодательные акты по AML:</h3>
        <ol>
            <li>Government of Poland. "Counteracting money laundering and financing of terrorism Act" (USTAWA z dnia 1
                marca
                2018 r. o przeciwdziałaniu praniu pieniędzy oraz finansowaniu terroryzmu). <a
                        href="http://prawo.sejm.gov.pl/isap.nsf/download.xsp/WDU20180000723/T/D20180723L.pdf">http://prawo.sejm.gov.pl/isap.nsf/download.xsp/WDU20180000723/T/D20180723L.pdf</a>
            </li>
            <li>Financial Action Task Force on Money Laundering</li>
            <li>Office of Foreign Assets Control (OFAC) of the US Department of the Treasury</li>
            <li>Financial Crimes Enforcement Network (<a href="http://www.fincen.gov/">FinCEN</a>)</li>
            <li>International Money Laundering Information Network (<a href="http://www.imolin.org/">IMoLIN</a>)</li>
        </ol>

    </div>
</div>
<!--AML end-->