<!--content-blocks start-->
<div class="page__block">
    <div class="page__content page__block-content">
        <svg class="page__block-icon">
            <use xlink:href="./images/icons-sprite.svg#icon-shield"></use>
        </svg>

        <div class="page__block-container">
            <div class="page__title">Ваш безопасный кошелек</div>

            <div class="page__text">Кошелек Qwallety поддерживает несколько степеней защиты Ваших данных и денег.</div>

            <a class="page__nav-btn" href="/login/">Войти в личный кабинет</a>
        </div>
    </div>
</div>

<div class="page__block">
    <div class="page__content page__block-content page__block-content--reverse">
        <svg class="page__block-icon">
            <use xlink:href="./images/icons-sprite.svg#icon-earth"></use>
        </svg>

        <div class="page__block-container">
            <div class="page__title">Денежные переводы по всему миру</div>

            <div class="page__text">Работайте по всему миру и делайте или получайте денежные переводы без каких-либо ограничений.</div>

            <a class="page__nav-btn" href="/payout/">Создать перевод</a>
        </div>
    </div>
</div>

<div class="page__block">
    <div class="page__content page__block-content">
        <svg class="page__block-icon">
            <use xlink:href="./images/icons-sprite.svg#icon-mill"></use>
        </svg>

        <div class="page__block-container">
            <div class="page__title">Оплата любых услуг и товаров</div>

            <div class="page__text">Оплачивайте свои покупки с помощью системы Qwallety - это быстро, надежно и выгодно.</div>

            <a class="page__nav-btn" href="/history/bills/">Оплатить товар</a>
        </div>
    </div>
</div>

<div class="page__block">
    <div class="page__content page__block-content page__block-content--reverse">
        <svg class="page__block-icon">
            <use xlink:href="./images/icons-sprite.svg#icon-phone"></use>
        </svg>

        <div class="page__block-container">
            <div class="page__title">Больше 30 способов пополнения</div>

            <div class="page__text">Вы можете пополнить кошельки более чем 50 способами: электронные валюты, банковские переводы, карты, наличные и др.</div>

            <a class="page__nav-btn" href="/replenishment/">Пополнить кошелек</a>
        </div>
    </div>
</div>
<!--content-blocks end-->