<!--content-blocks start-->
<div class="page__block">
    <div class="page__content page__block-content">
        <svg class="page__block-icon">
            <use xlink:href="./images/icons-sprite.svg#icon-shield"></use>
        </svg>

        <div class="page__block-container">
            <div class="page__title">Ваш безопасный кошелек</div>
<!--            <div class="page__title">Your secure wallet</div>-->

            <div class="page__text">Кошелек Qwallety поддерживает несколько степеней защиты Ваших данных и денег.</div>
<!--            <div class="page__text">Qwallety wallet supports several degrees of protection for your data and money.</div>-->

            <a class="page__nav-btn" href="https://wallet.qwallety.net/ru/auth/login/">Войти в личный кабинет</a>
<!--            <a class="page__nav-btn" href="https://wallet.qwallety.net/en/auth/login/">Log in to your account</a>-->
        </div>
    </div>
</div>

<div class="page__block">
    <div class="page__content page__block-content page__block-content--reverse">
        <svg class="page__block-icon">
            <use xlink:href="./images/icons-sprite.svg#icon-earth"></use>
        </svg>

        <div class="page__block-container">
            <div class="page__title">Денежные переводы по всему миру</div>
<!--            <div class="page__title">Worldwide money transfers</div>-->

            <div class="page__text">Работайте по всему миру и делайте или получайте денежные переводы без каких-либо ограничений.</div>
<!--            <div class="page__text">Work around the world and make or receive money transfers without any restrictions.</div>-->

            <a class="page__nav-btn" href="https://wallet.qwallety.net/ru/personal/withdraw">Создать перевод</a>
<!--            <a class="page__nav-btn" href="https://wallet.qwallety.net/en/personal/withdraw">Make a transfer</a>-->
        </div>
    </div>
</div>

<div class="page__block">
    <div class="page__content page__block-content">
        <svg class="page__block-icon">
            <use xlink:href="./images/icons-sprite.svg#icon-mill"></use>
        </svg>

        <div class="page__block-container">
            <div class="page__title">Оплата любых услуг и товаров</div>
<!--            <div class="page__title">Payment for any goods and services</div>-->

            <div class="page__text">Оплачивайте свои покупки с помощью системы Qwallety - это быстро, надежно и выгодно.</div>
<!--            <div class="page__text">Make a payment for your purchases with Qwallety – it’s fast, reliable and profitable</div>-->

            <a class="page__nav-btn" href="https://wallet.qwallety.net/ru/personal/history/bill">Оплатить товар</a>
<!--            <a class="page__nav-btn" href="https://wallet.qwallety.net/en/personal/history/bill">Make a purchase</a>-->
        </div>
    </div>
</div>

<div class="page__block">
    <div class="page__content page__block-content page__block-content--reverse">
        <svg class="page__block-icon">
            <use xlink:href="./images/icons-sprite.svg#icon-phone"></use>
        </svg>

        <div class="page__block-container">
            <div class="page__title">Больше 30 способов пополнения</div>
<!--            <div class="page__title">More than 30 ways of replenish</div>-->

            <div class="page__text">Вы можете пополнить кошельки более чем 50 способами: электронные валюты, банковские переводы, карты, наличные и др.</div>
<!--            <div class="page__text">You can make e-wallet replenish in more than 50 ways: e-currancy, bank transfers, cards etc.</div>-->

            <a class="page__nav-btn" href="https://wallet.qwallety.net/ru/personal/replenish">Пополнить кошелек</a>
<!--            <a class="page__nav-btn" href="https://wallet.qwallety.net/en/personal/replenish">Replenish of e-wallet</a>-->
        </div>
    </div>
</div>
<!--content-blocks end-->