<div class="page__content contact">
  <h2 class="contact__title">Contact information</h2>

  <div>
    <div id="map"></div>
    <!--    <div class="contact__info">-->
    <!--      <h3>United Kingdom</h3>-->
    <!--      <p>Electronic Payment Solutions LTD</p>-->
    <!--      <p>Registration number - 11070048</p>-->
    <!--      <p>License number - 900873</p>-->
    <!--      <p>-->
    <!--        Adress: Office 526 Mocatta House, Trafalgar Place, Brighton, United-->
    <!--        Kingdom, BN1 4DU-->
    <!--      </p>-->

    <!--      <svg class="page__logo">-->
    <!--        <use xlink:href="./images/icons-sprite.svg#icon-logo"></use>-->
    <!--      </svg>-->
    <!--    </div>-->
  </div>
</div>
