<!--Header Start-->
<div class="header">
    <div class="page__content header__content">
        <svg class="page__logo">
            <use xlink:href="./images/icons-sprite.svg#icon-logo"></use>
        </svg>

        <div class="header__nav">
            <a class="header__nav-btn header__nav-btn--margin" href="/registration/">Регистрация</a>

            <a class="header__nav-btn header__nav-btn--orange" href="/login/">
                <svg class="header__nav-btn-icon">
                    <use xlink:href="./images/icons-sprite.svg#icon-lock"></use>
                </svg>

                <span>Вход</span>
            </a>
        </div>
    </div>
</div>
<!--Header End-->