<!--Section-Main Start-->
<div class="section-main">
    <div class="page__content section-main__content">
<!--        <div class="section-main__title">Ваш персональный кошелек</div>-->
        <div class="section-main__title">Your personal e-wallet</div>

<!--        <p class="section-main__subtitle">Qwallety - удобный сервис для работы с деньгами в интернете.</p>-->
        <p class="section-main__subtitle">Qwallety is a convenient service for working with money on the Internet.</p>

<!--        <p class="section-main__subtitle">Оплачивайте услуги, получайте переводы, совершайте обмены просто и безопасно!</p>-->
        <p class="section-main__subtitle">ОPay for services, receive transfers, make exchanges simply and safely!</p>

        <div class="page__nav">
<!--            <a class="page__nav-btn page__nav-btn&#45;&#45;margin-right" href="https://wallet.qwallety.net/en/auth/register/">Создать кошелек</a>-->
            <a class="page__nav-btn page__nav-btn--margin-right" href="https://wallet.qwallety.net/en/auth/register/">Create wallet</a>

<!--            <a class="page__nav-btn page__nav-btn&#45;&#45;opacity" href="https://wallet.qwallety.net/en/auth/login/">Войти</a>-->
            <a class="page__nav-btn page__nav-btn--opacity" href="https://wallet.qwallety.net/en/auth/login/">Login</a>
        </div>
    </div>
</div>
<!--Section-Main End-->