<!--Section-Main Start-->
<div class="section-main">
    <div class="page__content section-main__content">
        <div class="section-main__title">Ваш персональный кошелек</div>

        <p class="section-main__subtitle">Qwallety - удобный сервис для работы с деньгами в интернете.</p>

        <p class="section-main__subtitle">Оплачивайте услуги, получайте переводы, совершайте обмены просто и безопасно!</p>

        <div class="page__nav">
            <a class="page__nav-btn page__nav-btn--margin-right" href="#">Создать кошелек</a>

            <a class="page__nav-btn page__nav-btn--opacity" href="#">Войти</a>
        </div>
    </div>
</div>
<!--Section-Main End-->