<div class="page__content">
    <div class="container instructions">
        <h1>Политика конфиденциальности</h1><br>
        <p>Данная Политика конфиденциальности персональной информации (далее – Политика) осуществляется по отношению ко
            всей информации, которую провайдер платежных услуг QWallety (далее – Провайдер) может получить о
            пользователе платежной системы (далее – Клиенте) в целях использования им сервиса QWallety® и/или любого из
            сайтов, приложений, продуктов, услуг, программного обеспечения Провайдера (далее – Сервисы Провайдера).</p>
        <p><b>Использование Сервисов Провайдера означает, что клиент ознакомился с настоящей Политикой и безоговорочно
            согласен с указанными в ней условиями обработки его персональной информации; в случае несогласия с этими
            условиями Клиент должен воздержаться от использования Сервисов Провайдера.</b></p><br>
        <ul>
            <li><b>1. Персональная информация Клиентов</b></li>
            <ul>
                <li>1.1. В рамках данной Политики под понятием «персональная информация Клиента» определяется
                    информация, которая:
                </li>
                <ul>
                    <li>1.1.1. предоставляется Клиентом самостоятельно в момент регистрации в любом из Сервисов
                        Провайдера;
                    </li>
                    <li>1.1.2. предоставляется Клиентом самостоятельно в момент проведения идентификации/полной
                        идентификации Клиента;
                    </li>
                    <li>1.1.3. предоставляются Клиентом самостоятельно в момент использования любых Сервисов
                        Провайдера;
                    </li>
                    <li>1.1.4. автоматически передаются Провайдеру в момент использования Сервисов Провайдера, в том
                        числе IP-адрес, информация о cookies, о браузере Клиента, через который осуществляются доступы к
                        Сервисам Провайдера, время доступа, адрес запрашиваемой страницы.
                    </li>
                </ul>
                <li>1.2. Данная Политика применима только к данным, которые Клиент предоставляет Провайдеру в процессе
                    использования Сервисов. Провайдер не несет ответственности за размещение Клиентом персональной
                    информации на сайтах третьих лиц, в том числе, если ссылка на сайт размещена на сайте Провайдера.
                </li>
                <li>1.3. Провайдер не проверяет достоверность предоставленной Клиентом персональной информации, однако
                    исходит из того, что Клиент предоставил полную и достоверную информацию, и обновляет ее в случае
                    изменения./li&gt;
                </li>
            </ul>
        </ul>
        <br>
        <ul>
            <li><b>2. Условия обработки персональной информации Клиента:</b></li>
            <ul>
                <li>2.1. Провайдер собирает и хранит только ту персональную информацию Клиента, которая используется в
                    рамках Пользовательского соглашения между Клиентом и Провайдером о предоставлении Сервисов
                    Провайдера, за исключением случаев, когда законодательством Польши определено иное.
                </li>
                <li>2.2. В отношении персональной информации Клиента обеспечивается ее конфиденциальность.</li>
                <li>2.3. Провайдер может использовать персональную информацию в следующих целях:</li>
                <ul>
                    <li>2.3.1. В рамках Пользовательского соглашения между Клиентом и Провайдером о предоставлении
                        Сервисов Провайдера;
                    </li>
                    <li>2.3.2. Осуществление связи с Клиентом;</li>
                    <li>2.3.3. Улучшение качества сервисов Провайдера, предложения Клиенту персонализированных Сервисов
                        Провайдера;
                    </li>
                    <li>2.3.4. Проведения маркетинговых акций и мероприятий для Клиентов.</li>
                </ul>
                <li>2.4. Провайдер может передать персональную информацию Клиента в случаях, когда:</li>
                <ul>
                    <li>2.4.1. Клиент предоставил свое согласие на передачу данных третьим лицам;</li>
                    <li>2.4.2. Передача необходима для осуществления обязательств Провайдера в рамках Пользовательского
                        соглашения между Клиентом и Провайдером о предоставлении Сервисов Провайдера;
                    </li>
                    <li>2.4.3. Передача предусмотрена законодательством Польши или страны, где происходит оказание
                        услуги;
                    </li>
                    <li>2.4.4. Провайдер имеет веские основания полагать, что Клиент своими действиями нарушает условия
                        Пользовательского соглашения между Клиентом и Провайдером о предоставлении Сервисов Провайдера
                        и/или законодательства Польши.
                    </li>
                </ul>
                <li>2.5. При обработке персональных данных Клиентов Провайдер руководствуется Законом Польши «О
                    персональных данных» (<a
                            href="http://prawo.sejm.gov.pl/isap.nsf/download.xsp/WDU20180001000/T/D20181000L.pdf">http://prawo.sejm.gov.pl/isap.nsf/download.xsp/WDU20180001000/T/D20181000L.pdf</a>).
                </li>
            </ul>
        </ul>
        <br>
        <ul>
            <li><b>3. Изменение и удаление Клиентом персональной информации</b></li>
            <ul>
                <li>3.1. Изменение и удаление персональной информации Клиента осуществляется в порядке, установленном
                    Пользовательским соглашением соответствующих Сервисов Провайдера. В рамках Сервисов Провайдера
                    Клиенту может предоставляться функциональная возможность изменить (обновить, дополнить) или удалить
                    предоставленную Клиентом информацию или её часть. Использование соответствующего функционала
                    регулируется применимым к данному Сервису Провайдера соглашениями.
                </li>
                <li>3.2. В соответствии с требованиями законодательства на Провайдера может быть возложена обязанность
                    осуществляет обработку / хранение полученной при использовании Сервисов Провайдера персональной
                    информации Клиента. Такая обработка / хранение осуществляется Провайдером в случаях, по основаниям и
                    в течение сроков, установленных законодательством.
                </li>
            </ul>
        </ul>
        <br>
        <ul>
            <li><b>4. Изменение Политики конфиденциальности</b></li>
            <ul>
                <li>4.1. Провайдер вправе предложить Клиенту изменить и/или дополнить настоящую Политику путем
                    опубликования Политики в&nbsp;новой редакции на&nbsp;Интернет-сайте по&nbsp;адресу (<a
                            href="https://qwallety.net">https://qwallety.net</a>). Принятием Пользователем такого
                    предложения являются конклюдентные действия по&nbsp;использованию какого-либо из Сервисов Провайдера
                    на&nbsp;новых условиях.
                </li>
            </ul>
        </ul>
        <br>Дата публикации: 07.11.2019
    </div>
</div>