<!--Affiliate program Start-->
<div class="page__content-wrapper affiliate-program">
    <div class="page__content-block">
        <div class="page__content-title">Партнерская программа</div>

        <div class="affiliate-program__wrapper">
            <div class="affiliate-program__block">
                <div class="affiliate-program__title">Для мониторингов</div>

                <p class="affiliate-program__description">Мы с радостью сотрудничаем со всеми мониторингами обменных
                    пунктов. Файл экспорта курсов (xrates/export), который соответствует требованиям estandards.info, вы
                    можете получить, обратившись в нашу службу поддержки.
                </p>

                <p class="affiliate-program__description">Мы с радостью сотрудничаем со всеми мониторингами обменных
                    пунктов. Файл экспорта курсов (xrates/export), который соответствует требованиям estandards.info, вы
                    можете получить, обратившись в нашу службу поддержки.
                </p>
            </div>
        </div>
    </div>
</div>
<!--Affiliate program End-->
