<!--User-profile Start-->
<div class="page__content-wrapper bonus">
    <div class="page__content-block user-profile__block">
        <div class="page__content-title">Ваши заявки</div>

        <div class="bonus__wrapper">
            <div class="page__table-wrapper">
                <table class="table">
                    <thead>
                    <tr class="table__title">
                        <td class="table__row-cell table__title-text">Платежный метод</td>
                        <td class="table__row-cell table__title-text bonus__row-cell--center">Ваша скидка</td>
                        <td class="table__row-cell table__title-text">Ваш оборот</td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="table__row">
                        <td class="table__row-cell">
                            <div class="table__row-cell-block bonus__row-cell is-active">
                                <img class="table__row-img" src="../img/privat.png" alt="icon-currency">

                                <span class="table__row-text">Payeer</span>

                                <span class="table__row-text table__row-text--light">RUB</span>
                            </div>
                        </td>

                        <td class="table__row-cell bonus__row-cell bonus__row-cell--center is-active">
                            4%
                        </td>

                        <td class="table__row-cell bonus__row-cell is-active">
                            <div class="table__row-cell-block">
                                <span class="table__row-text">123213123123</span>
                            </div>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__row-cell bonus__row-cell">
                            <div class="table__row-cell-block">
                                <img class="table__row-img" src="../img/privat.png" alt="icon-currency">

                                <span class="table__row-text">Payeer</span>

                                <span class="table__row-text table__row-text--light">RUB</span>
                            </div>
                        </td>

                        <td class="table__row-cell bonus__row-cell bonus__row-cell--center">
                            4%
                        </td>

                        <td class="table__row-cell bonus__row-cell">
                            <div class="table__row-cell-block">
                                <span class="table__row-text">123213123123</span>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="bonus__container">
                <div class="table__title-text bonus__container-title">Размер бонуса</div>

                <div class="bonus__block">
                    <div class="bonus__container-item">
                        <span class="table__row-text bonus__container-text">1 - 1 000</span>

                        <span class="table__row-text bonus__container-text">5%</span>
                    </div>

                    <div class="bonus__container-item">
                        <span class="table__row-text bonus__container-text">1 - 1 000</span>

                        <span class="table__row-text bonus__container-text">5%</span>
                    </div>

                    <div class=" page__btn bonus__container-btn">Начать обмен</div>
                </div>
            </div>
        </div>

        <div class="page__table-nav table__nav">
            <div class="table__nav-btn">1</div>
            <div class="table__nav-btn">2</div>
            <div class="table__nav-btn is-active">2</div>
        </div>
    </div>

    <!--    </div>-->
</div>
<!--User-profile End-->