<!--Affiliate program Start-->
<div class="page__content-wrapper faq">
    <div class="page__content-block">
        <div class="page__content-title">Партнерская программа</div>

        <div class="faq__wrapper">
            <div class="faq__accordion">
                <div class="faq__question faq__question--border-none is-active">
                    <div class="faq__title">
                        <span class="faq__title-text">Нужно ли регистрироваться на сайте?</span>

                        <svg class="page__icon-svg faq__icon">
                            <use xlink:href="./images/icons-sprite.svg#icon-arrow-accordion"></use>
                        </svg>
                    </div>

                    <div class="faq__description">
                        <p class="faq__description-block faq__description-text">Да, регистрация обязательна. Вы можете зарегистрироваться самостоятельно, либо указать только email, мы автоматически зарегистрируем Ваш аккаунт и вышлем пароль на указанный электронный адрес.</p>

                        <p class="faq__description-block faq__description-text">Регистрация на сайте позволит использовать все преимущества постоянных клиентов:</p>

                        <ul class="faq__description-block faq__description-list">
                            <li class="faq__description-text">• накопительные скидки</li>

                            <li class="faq__description-text">• партнерская программа</li>

                            <li class="faq__description-text">• личный кабинет со списком всех транзакций</li>
                        </ul>

                        <p class="faq__description-block faq__description-text">Система авторизации работает исключительно через электронный адрес.</p>
                    </div>
                </div>

                <div class="faq__question is-active">
                    <div class="faq__title">
                        <span class="faq__title-text">Нужно ли регистрироваться на сайте?</span>

                        <svg class="page__icon-svg faq__icon">
                            <use xlink:href="./images/icons-sprite.svg#icon-arrow-accordion"></use>
                        </svg>
                    </div>

                    <div class="faq__description">
                        <p class="faq__description-block faq__description-text">Да, регистрация обязательна. Вы можете зарегистрироваться самостоятельно, либо указать только email, мы автоматически зарегистрируем Ваш аккаунт и вышлем пароль на указанный электронный адрес.</p>

                        <p class="faq__description-block faq__description-text">Регистрация на сайте позволит использовать все преимущества постоянных клиентов:</p>

                        <ul class="faq__description-block faq__description-list">
                            <li class="faq__description-text">• накопительные скидки</li>

                            <li class="faq__description-text">• партнерская программа</li>

                            <li class="faq__description-text">• личный кабинет со списком всех транзакций</li>
                        </ul>

                        <p class="faq__description-block faq__description-text">Система авторизации работает исключительно через электронный адрес.</p>
                    </div>
                </div>

                <div class="faq__question">
                    <div class="faq__title">
                        <span class="faq__title-text">Нужно ли регистрироваться на сайте?</span>

                        <svg class="page__icon-svg faq__icon">
                            <use xlink:href="./images/icons-sprite.svg#icon-arrow-accordion"></use>
                        </svg>
                    </div>

                    <div class="faq__description">
                        <p class="faq__description-block faq__description-text">Да, регистрация обязательна. Вы можете зарегистрироваться самостоятельно, либо указать только email, мы автоматически зарегистрируем Ваш аккаунт и вышлем пароль на указанный электронный адрес.</p>

                        <p class="faq__description-block faq__description-text">Регистрация на сайте позволит использовать все преимущества постоянных клиентов:</p>

                        <ul class="faq__description-block faq__description-list">
                            <li class="faq__description-text">• накопительные скидки</li>

                            <li class="faq__description-text">• партнерская программа</li>

                            <li class="faq__description-text">• личный кабинет со списком всех транзакций</li>
                        </ul>

                        <p class="faq__description-block faq__description-text">Система авторизации работает исключительно через электронный адрес.</p>
                    </div>
                </div>

                <div class="faq__question">
                    <div class="faq__title">
                        <span class="faq__title-text">Нужно ли регистрироваться на сайте?</span>

                        <svg class="page__icon-svg faq__icon">
                            <use xlink:href="./images/icons-sprite.svg#icon-arrow-accordion"></use>
                        </svg>
                    </div>

                    <div class="faq__description">
                        <p class="faq__description-block faq__description-text">Да, регистрация обязательна. Вы можете зарегистрироваться самостоятельно, либо указать только email, мы автоматически зарегистрируем Ваш аккаунт и вышлем пароль на указанный электронный адрес.</p>

                        <p class="faq__description-block faq__description-text">Регистрация на сайте позволит использовать все преимущества постоянных клиентов:</p>

                        <ul class="faq__description-block faq__description-list">
                            <li class="faq__description-text">• накопительные скидки</li>

                            <li class="faq__description-text">• партнерская программа</li>

                            <li class="faq__description-text">• личный кабинет со списком всех транзакций</li>
                        </ul>

                        <p class="faq__description-block faq__description-text">Система авторизации работает исключительно через электронный адрес.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Affiliate program End-->
