<!--Footer start-->
<div class="footer">
    <div class="footer__copyright copyright">
        <div class="copyright__description">
            <span class="footer__text copyright__text">© Flychange 2016-2019</span>

            <span class="footer__text copyright__text">Все права защищены</span>
        </div>

        <a class="footer__text copyright__link" href="#">BestChange</a>
    </div>

    <div class="footer__info">
        <a href="#" class="footer__text footer__info-link">Пользовательское соглашение</a>

        <a href="#" class="footer__text footer__info-link">Обратная связь</a>

        <a href="#" class="footer__text footer__info-link">Согласие на рассылку</a>

        <a href="#" class="footer__text footer__info-link">Политика конфиденциальности</a>
    </div>
</div>
<!--Footer end-->