<!--Header Start-->
<div class="page__header header">
    <div class="header__logo">
        <svg class="header__logo-icon">
            <use xlink:href="./images/icons-sprite.svg#logo"></use>
        </svg>
    </div>

    <div class="header__nav nav">
        <div class="nav__wrapper">
            <a class="nav__btn nav__btn-login is-active" href="#">
                <svg class="page__icon-svg nav__btn-icon">
                    <use xlink:href="./images/icons-sprite.svg#icon-enter"></use>
                </svg>

                <span class="nav__btn-text">Вход</span>
            </a>

            <a class="nav__btn nav__btn-logout" href="#">
                <svg class="page__icon-svg nav__btn-icon">
                    <use xlink:href="./images/icons-sprite.svg#icon-enter"></use>
                </svg>

                <span class="nav__btn-text">Выход</span>
            </a>

            <a class="nav__btn nav__btn-registration" href="#">
                <svg class="page__icon-svg nav__btn-icon">
                    <use xlink:href="./images/icons-sprite.svg#icon-registration"></use>
                </svg>

                <span>Регистрация</span>
            </a>
        </div>

        <div class="nav__lang">
            <a class="nav__btn nav__lang-btn is-active" href="#">Ru</a>

            <a class="nav__btn nav__lang-btn" href="#">En</a>
        </div>
    </div>
</div>
<!--Header End-->