<!--Payment-bid Start-->
<div class="page__content-wrapper pay-bid">
    <div class="page__content-block pay-bid__content-block">
        <div class="page__content-title">Оплата заявки №10072</div>

        <div class="pay-bid__wrapper">
            <div class="pay-bid__container">
                <img class="pay-bid__icon-currency" src="../img/bitcoin.png" alt="icon-currency">

                <img class="pay-bid__icon-qr" src="../img/qr.png" alt="icon-qr">
            </div>

            <div class="pay-bid__content">
                <div class="pay-bid__block">
                    <div class="pay-bid__text">
                        Для оплаты заявки отсканируйте QR-код через мобильное приложение.
                        Или отправьте
                        <span class="pay-bid__text--bold">0.00006 BTC</span>
                        на адрес:
                    </div>
                </div>

                <div class="pay-bid__block">
                    <div class="pay-bid__text pay-bid__text--bold pay-bid__text--margin-right ">35D54kgkR569jjFae90vbM34edDFvxq3Df44fbqnoi</div>

                    <svg class="page__icon-svg pay-bid__icon-doc">
                        <use xlink:href="./images/icons-sprite.svg#icon-pay-bid"></use>
                    </svg>
                </div>

                <div class="pay-bid__block">
                    <div class="pay-bid__details">
                        <div class="pay-bid__text pay-bid__text--margin-bottom">
                            Осталось времени:
                            <span class="pay-bid__text--bold">89 минут 45 секунд</span>
                        </div>

                        <div class="pay-bid__text">
                            Статус заявки:
                            <span class="pay-bid__text--orange">Ожидает оплаты</span>
                        </div>
                    </div>

                    <div class="page__btn pay-bid__btn">Отследить перевод</div>
                </div>
            </div>
        </div>
        <a href="#" class="pay-bid__description">
            Заявка обрабатывается в автоматическом режиме. Выплата производиться после 3-х подтверждений от сети
            Bitcoin. Не советуем производить оплату из бирж, партнерок илиаких-либо других сторонних сервисов -
            рекомендуем все выплаты производить с личногокошелька, чтобы избежать задержек и пересчетов. Скорость
            перевода напрямую зависит от выставленной Вами комиссии.
        </a>
    </div>
</div>
<!--Payment-bid End-->
