<!--Privacy Policy Start-->
<div class="page__content-wrapper privacy-policy">
    <div class="page__content-block">
        <div class="page__content-title">Политика конфиденциальности</div>

        <div class="privacy-policy__wrapper">
            <div class="privacy-policy__title">1. Основное</div>

            <p class="privacy-policy__description">1.1. Пожалуйста, прочтите следующие положения относительно услуг
                хранения информации, предоставляемых FlyChange. FlyChange оставляет за собой право изменить Положения о
                конфиденциальности в любое время без предварительного уведомления. Только онлайн положения о
                конфиденциальности действительны, так что периодически читайте Положение о конфиденциальности на сайте.
                Данные положения были разработаны нашей командой с целью показать заботу сервиса RocketChange о
                сохранности информации своих клиентов. Мы хотим показать, что хранение информации с помощью
                RocketChange.ru является абсолютно безопасным. Ниже Вы можете ознакомиться с положениями о
                конфиденциальности.
            </p>

            <p class="privacy-policy__description">1.1. Пожалуйста, прочтите следующие положения относительно услуг
                хранения информации, предоставляемых FlyChange. FlyChange оставляет за собой право изменить Положения о
                конфиденциальности в любое время без предварительного уведомления. Только онлайн положения о
                конфиденциальности действительны, так что периодически читайте Положение о конфиденциальности на сайте.
                Данные положения были разработаны нашей командой с целью показать заботу сервиса RocketChange о
                сохранности информации своих клиентов. Мы хотим показать, что хранение информации с помощью
                RocketChange.ru является абсолютно безопасным. Ниже Вы можете ознакомиться с положениями о
                конфиденциальности.
            </p>
        </div>
    </div>
</div>
<!--Privacy Policy End-->