<!--Reserve Card Start-->
<div class="page__content-wrapper reserve-rate">
    <div class="page__content-block page__content-block--half">
        <div class="page__content-title">Резерв</div>

        <div class="page__content-card reserve-card">
            <div class="reserve-card__accordion">
                <div class="reserve-card__item reserve-card__item--border-none is-active">
                    <div class="reserve-card__title reserve-rate__item-title">
                        <div class="reserve-rate__container">
                            <span class="reserve-rate__text">Доллар</span>

                            <span class="reserve-rate__text reserve-rate__text--light">USD</span>
                        </div>

                        <div class="reserve-rate__container">
                            <span class="reserve-rate__text reserve-rate__text--normal reserve-card__title-number">3452123</span>

                            <svg class="page__icon-svg reserve-card__icon">
                                <use xlink:href="./images/icons-sprite.svg#icon-arrow-accordion"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="reserve-card__description">
                        <div class="reserve-card__title reserve-rate__item-title">
                            <div class="reserve-rate__container">
                                <img class="reserve-rate__img-currency" src="../img/payeer.png" alt="icon-currency">

                                <span class="reserve-rate__text reserve-rate__text--small-margin">Доллар</span>

                                <span class="reserve-rate__text reserve-rate__text--light">USD</span>
                            </div>

                            <span class="reserve-rate__text reserve-rate__text--normal reserve-rate__text--no-margin">3452123</span>
                        </div>

                        <div class="reserve-card__title reserve-rate__item-title">
                            <div class="reserve-rate__container">
                                <img class="reserve-rate__img-currency" src="../img/payeer.png" alt="icon-currency">

                                <span class="reserve-rate__text reserve-rate__text--small-margin">Доллар</span>

                                <span class="reserve-rate__text reserve-rate__text--light">USD</span>
                            </div>

                            <span class="reserve-rate__text reserve-rate__text--normal reserve-rate__text--no-margin">3452123</span>
                        </div>
                    </div>
                </div>

                <div class="reserve-card__item">
                    <div class="reserve-card__title reserve-rate__item-title">
                        <div class="reserve-rate__container">
                            <span class="reserve-rate__text">Доллар</span>

                            <span class="reserve-rate__text reserve-rate__text--light">USD</span>
                        </div>

                        <div class="reserve-rate__container">
                            <span class="reserve-rate__text reserve-rate__text--normal reserve-card__title-number">3452123</span>

                            <svg class="page__icon-svg reserve-card__icon">
                                <use xlink:href="./images/icons-sprite.svg#icon-arrow-accordion"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="reserve-card__description">
                        <!--                        <div class="reserve-card__description-block reserve-card__description-text"></div>-->
                        <div class="reserve-card__title reserve-rate__item-title">
                            <div class="reserve-rate__container">
                                <img class="reserve-rate__img-currency" src="../img/payeer.png" alt="icon-currency">

                                <span class="reserve-rate__text">Доллар</span>

                                <span class="reserve-rate__text reserve-rate__text--light">USD</span>
                            </div>

                            <span class="reserve-rate__text reserve-rate__text--normal">3452123</span>
                        </div>
                    </div>
                </div>

                <div class="reserve-card__item">
                    <div class="reserve-card__title reserve-rate__item-title">
                        <div class="reserve-rate__container">
                            <span class="reserve-rate__text">Доллар</span>

                            <span class="reserve-rate__text reserve-rate__text--light">USD</span>
                        </div>

                        <div class="reserve-rate__container">
                            <span class="reserve-rate__text reserve-rate__text--normal reserve-card__title-number">3452123</span>

                            <svg class="page__icon-svg reserve-card__icon">
                                <use xlink:href="./images/icons-sprite.svg#icon-arrow-accordion"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="reserve-card__description">
                        <!--                        <div class="reserve-card__description-block reserve-card__description-text"></div>-->
                        <div class="reserve-card__title reserve-rate__item-title">
                            <div class="reserve-rate__container">
                                <img class="reserve-rate__img-currency" src="../img/payeer.png" alt="icon-currency">

                                <span class="reserve-rate__text">Доллар</span>

                                <span class="reserve-rate__text reserve-rate__text--light">USD</span>
                            </div>

                            <span class="reserve-rate__text reserve-rate__text--normal">3452123</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Reserve Card End-->
    <!--Rate Card Start-->
    <div class="page__content-block page__content-block--half">
        <div class="page__content-title">Курс</div>

        <div class="page__content-card course-card">
            <div class="reserve-card__title course-card__title">
                <div class="reserve-rate__container">
                    <img class="reserve-rate__img-currency" src="../img/payeer.png" alt="icon-currency">

                    <span class="reserve-rate__text">Доллар</span>

                    <span class="reserve-rate__text reserve-rate__text--light">USD</span>
                </div>

                <span class="reserve-rate__text reserve-rate__text--normal reserve-rate__text--no-margin">3452123</span>
            </div>

            <div class="reserve-card__title course-card__title">
                <div class="reserve-rate__container">
                    <img class="reserve-rate__img-currency" src="../img/payeer.png" alt="icon-currency">

                    <span class="reserve-rate__text">Доллар</span>

                    <span class="reserve-rate__text reserve-rate__text--light">USD</span>
                </div>

                <span class="reserve-rate__text reserve-rate__text--normal reserve-rate__text--no-margin">3452123</span>
            </div>

            <div class="reserve-card__title course-card__title">
                <div class="reserve-rate__container">
                    <img class="reserve-rate__img-currency" src="../img/payeer.png" alt="icon-currency">

                    <span class="reserve-rate__text">Доллар</span>

                    <span class="reserve-rate__text reserve-rate__text--light">USD</span>
                </div>

                <span class="reserve-rate__text reserve-rate__text--normal reserve-rate__text--no-margin">3452123</span>
            </div>
        </div>
    </div>
</div>
<!--Rate Card End-->