<!--Sidebar-menu start-->
<div class="page__sidebar sidebar">
    <div class="sidebar__wrapper">
        <ul class="sidebar__menu">
            <li class="sidebar__menu-list">
                <svg class="page__icon-svg sidebar__menu-icon">
                    <use xlink:href="./images/icons-sprite.svg#icon-exchange"></use>
                </svg>

                <span class="sidebar__menu-text">Обменять</span>
            </li>

            <li class="sidebar__menu-list">
                <svg class="page__icon-svg sidebar__menu-icon">
                    <use xlink:href="./images/icons-sprite.svg#icon-course"></use>
                </svg>

                <span class="sidebar__menu-text">Курс/резерв</span>
            </li>

            <li class="sidebar__menu-list">
                <svg class="page__icon-svg sidebar__menu-icon">
                    <use xlink:href="./images/icons-sprite.svg#icon-bonus"></use>
                </svg>

                <span class="sidebar__menu-text">Бонусы</span>
            </li>

            <li class="sidebar__menu-list">
                <svg class="page__icon-svg sidebar__menu-icon">
                    <use xlink:href="./images/icons-sprite.svg#icon-faq"></use>
                </svg>

                <span class="sidebar__menu-text">FAQ</span>
            </li>

            <li class="sidebar__menu-list">
                <svg class="page__icon-svg sidebar__menu-icon">
                    <use xlink:href="./images/icons-sprite.svg#icon-partners"></use>
                </svg>

                <span class="sidebar__menu-text">Партнерам</span>
            </li>

            <li class="sidebar__menu-list">
                <svg class="page__icon-svg sidebar__menu-icon">
                    <use xlink:href="./images/icons-sprite.svg#icon-request"></use>
                </svg>

                <span class="sidebar__menu-text">Заявки</span>
            </li>
        </ul>
    </div>
</div>
<!--Sidebar-menu end-->
