<!--Terms of use Start-->
<div class="page__content-wrapper terms-of-use">
    <div class="page__content-block">
        <div class="page__content-title">Пользовательское соглашение</div>

        <div class="terms-of-use__wrapper">
            <div class="terms-of-use__title">1. Термины и определения</div>

            <p class="terms-of-use__description">1.1. FlyChange — это автоматизированный веб-сервис, расположенный в
                сети Интернет по адресу https://flychange.net и предлагающий свои услуги с помощью специального
                программного интерфейса для всех Пользователей (далее по тексту — Сервис).
            </p>

            <p class="terms-of-use__description">1.1. FlyChange — это автоматизированный веб-сервис, расположенный в
                сети Интернет по адресу https://flychange.net и предлагающий свои услуги с помощью специального
                программного интерфейса для всех Пользователей (далее по тексту — Сервис).
            </p>

        </div>
    </div>
</div>
<!--Terms of use End-->