<!--User-profile Start-->
<div class="page__content-wrapper user-profile user-profile-password">
    <div class="page__content-block user-profile__block">
        <div class="page__content-title">Профиль пользователя</div>

        <div class="profile-menu user-profile__menu">
            <div class="profile-menu__btn">Реквизиты</div>

            <div class="profile-menu__btn is-active">Сменить пароль</div>

            <div class="profile-menu__btn">Партнерка</div>
        </div>

        <form action="#" class="user-profile-password__form">
            <div class="user-profile-password__form-wrapper">
                <label class="card__label user-block__label user-profile-password__form-label">
                    <input class="card__input user-block__input user-profile-password__form-input" type="password">

                    <span class="card__input-placeholder user-block__input-placeholder is-active">Пароль</span>
                </label>

                <label class="card__label user-block__label user-profile-password__form-label">
                    <input class="card__input user-block__input user-profile-password__form-input" type="password">

                    <span class="card__input-placeholder user-block__input-placeholder is-active">Подтвердить пароль</span>
                </label>
            </div>

            <button type="submit" class="page__btn user-profile-password__form-btn">Сохранить изменения</button>
        </form>

        <div class="affiliate-program__description user-profile__description user-profile-password__form-description">
            Для изменения пароля укажите новый пароль и подтверждение пароля.
            Не устанавливайте очень простой пароль,иначе злоумышленники смогут подобрать пароль к аккаунту.
        </div>

        <div class="affiliate-program__description user-profile__description user-profile-password__form-description">
            Если Вы не хотите менять пароль, оставьте поле пустым
        </div>
    </div>
</div>
<!--User-profile End-->