<!--User-profile Start-->
<div class="page__content-wrapper user-profile-output">
    <div class="page__content-block user-profile__block user-profile-output__user-block">
        <div class="page__content-title">Партнерская программа</div>

        <div class="profile-menu user-profile__menu">
            <div class="profile-menu__btn">Информация</div>

            <div class="profile-menu__btn is-active">Вывод</div>

            <div class="profile-menu__btn">Операции</div>
        </div>

        <div class="affiliate-program__title user-profile-output">
            Ваш баланс:
            <span class="user-profile-output__title--orange">$123</span>
        </div>

        <div class="user-profile__table user-profile-output__table">
            <div class="user-profile__table-block">
                <div class="user-profile__table-title">Платежная система</div>

                <div class="user-profile__select">
                    <div class="user-profile__select-title">
                        <img class="user-profile__select-img" src="../img/bitmap.png" alt="icon-currency">

                        <span class="user-profile__select-text">PerfectMoney</span>

                        <span class="user-profile__select-text user-profile__select-text--light">USD</span>

                        <svg class="page__icon-svg faq__icon">
                            <use xlink:href="./images/icons-sprite.svg#icon-arrow-accordion"></use>
                        </svg>
                    </div>

                    <div class="user-profile__select-dropdown">
                        <div class="user-profile__select-dropdown-item">
                            <img class="user-profile__select-img" src="../img/bitmap.png" alt="icon-currency">

                            <span class="user-profile__select-text">PerfectMoney</span>

                            <span class="user-profile__select-text user-profile__select-text--light">USD</span>
                        </div>

                        <div class="user-profile__select-dropdown-item">
                            <img class="user-profile__select-img" src="../img/bitmap.png" alt="icon-currency">

                            <span class="user-profile__select-text">PerfectMoney</span>

                            <span class="user-profile__select-text user-profile__select-text--light">USD</span>
                        </div>

                        <div class="user-profile__select-dropdown-item">
                            <img class="user-profile__select-img" src="../img/bitmap.png" alt="icon-currency">

                            <span class="user-profile__select-text">PerfectMoney</span>

                            <span class="user-profile__select-text user-profile__select-text--light">USD</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user-profile__table-block">
                <div class="user-profile__table-title">Реквизиты</div>

                <div class="user-profile__select">
                    <div class="user-profile__select-title">
                        <span class="user-profile__select-text user-profile__select-text--light">5342423421</span>
                    </div>
                </div>
            </div>

            <div class="user-profile__table-block">
                <div class="user-profile__table-title">Сумма</div>

                <div class="user-profile__select">
                    <div class="user-profile__select-title">
                        <span class="user-profile__select-text user-profile__select-text--light">135$</span>
                    </div>
                </div>
            </div>

            <div class="user-profile__table-block">
                <div class="user-profile__table-title"></div>

                <div class="page__btn user-profile__table-btn">Вывести</div>
            </div>
        </div>
    </div>

    <!--    </div>-->
</div>
<!--User-profile End-->