<!--User-profile Start-->
<div class="page__content-wrapper user-profile user-profile-password">
    <div class="page__content-block user-profile__block">
        <div class="page__content-title">Профиль пользователя</div>

        <div class="profile-menu user-profile__menu">
            <div class="profile-menu__btn is-active">Информация</div>

            <div class="profile-menu__btn">Вывод</div>

            <div class="profile-menu__btn">Операции</div>
        </div>

        <form action="#" class="user-profile-password__form">
            <label class="card__label">
                <input class="card__input" value="0" type="text">

                <span class="card__label-text">WMR</span>
            </label>

            <label class="card__label">
                <input class="card__input" value="0" type="text">

                <span class="card__label-text">WMR</span>
            </label>

            <button type="submit" class="page__btn">Сохранить изменения</button>
        </form>

        <div class="affiliate-program__description user-profile__description">
            Для изменения пароля укажите новый пароль и подтверждение пароля.
            Не устанавливайте очень простой пароль,иначе злоумышленники смогут подобрать пароль к аккаунту.
        </div>

        <div class="affiliate-program__description user-profile__description">
            Если Вы не хотите менять пароль, оставьте поле пустым
        </div>
    </div>
</div>
<!--User-profile End-->