<!--User-profile Start-->
<div class="page__content-wrapper user-profile">
    <div class="page__content-block user-profile__block">
        <div class="page__content-title">Партнерская программа</div>

        <div class="profile-menu user-profile__menu">
            <div class="profile-menu__btn is-active">Информация</div>

            <div class="profile-menu__btn">Вывод</div>

            <div class="profile-menu__btn">Операции</div>
        </div>

        <div class="user-profile__wrapper">
            <p class="affiliate-program__title user-profile__title">Личный кабинет</p>

            <div class="user-profile__details details">
                <div class="details__wrapper">
                    <span class="details__text">Ваше вознаграждение:</span>

                    <span class="details__text details__text--light details__text--orange">5%</span>
                </div>

                <div class="details__wrapper">
                    <span class="details__text">Ваша ссылка:</span>

                    <span class="details__text details__text--light details__text--margin-right">https://flyvhange.net/refer_id=554448</span>

                    <svg class="details__icon">
                        <use xlink:href="./images/icons-sprite.svg#icon-pay-bid"></use>
                    </svg>
                </div>

                <div class="details__wrapper">
                    <span class="details__text">Ваш баланс:</span>

                    <span class="details__text details__text--light">$ 0</span>
                </div>
            </div>

            <p class="affiliate-program__title user-profile__title">Что мы предлагаем?</p>

            <div class="affiliate-program__description user-profile__description">
                Уникальную возможность стать нашим бизнес-партнером и без особых усилий наладить источник пассивного
                дохода
                на постоянной основе. Каждый зарегистрированный пользователь в разделе «Партнерам» может найти свою
                реферальную ссылку с уникальным ID. Когда к нам на сайт переходит клиент по этой ссылке и осуществляет
                любую
                операцию с валютой, вам начисляются от 5% до 20% нашей прибыли (% отчислений зависит от количества
                совершенных обменов). Также Вам будет начисляться вознаграждение и за последующие операции приведенного
                вами
                пользователя!
            </div>

            <p class="affiliate-program__title user-profile__title">Что мы предлагаем?</p>

            <div class="affiliate-program__description user-profile__description">
                Уникальную возможность стать нашим бизнес-партнером и без особых усилий наладить источник пассивного
                дохода
                на постоянной основе. Каждый зарегистрированный пользователь в разделе «Партнерам» может найти свою
                реферальную ссылку с уникальным ID. Когда к нам на сайт переходит клиент по этой ссылке и осуществляет
                любую
                операцию с валютой, вам начисляются от 5% до 20% нашей прибыли (% отчислений зависит от количества
                совершенных обменов). Также Вам будет начисляться вознаграждение и за последующие операции приведенного
                вами
                пользователя!
            </div>
        </div>
    </div>
</div>
<!--User-profile End-->