<!--User-profile Start-->
<div class="page__content-wrapper user-profile-operation">
    <div class="page__content-block user-profile__block user-profile-output__user-block">
        <div class="page__content-title">Партнерская программа</div>

        <div class="profile-menu user-profile__menu">
            <div class="profile-menu__btn">Информация</div>

            <div class="profile-menu__btn">Вывод</div>

            <div class="profile-menu__btn is-active">Операции</div>
        </div>

        <div class="page__table-wrapper">
            <table class="table">
                <thead>
                <tr class="table__title">
                    <td class="table__row-cell table__title-text">ID Заявки</td>
                    <td class="table__row-cell table__title-text">Дата/Время</td>
                    <td class="table__row-cell table__title-text">Сумма</td>
                    <td class="table__row-cell table__title-text">Реквизиты</td>
                </tr>
                </thead>

                <tbody>
                <tr class="table__row">
                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            234523
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block table__row-cell-block--vertical">
                            <span class="table__row-text table__row-text--light">2019.12.17</span>

                            <span class="table__row-text table__row-text--light-small">14:13:43</span>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <span class="table__row-text table__row-text--bold">13949723123</span>

                            <span class="table__row-text table__row-text--light">UAH</span>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <img class="table__row-img" src="../img/privat.png" alt="icon-currency">

                            <span class="table__row-text">312323141234213</span>
                        </div>
                    </td>
                </tr>

                <tr class="table__row">
                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            234523
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block table__row-cell-block--vertical">
                            <span class="table__row-text table__row-text--light">2019.12.17</span>

                            <span class="table__row-text table__row-text--light-small">14:13:43</span>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <span class="table__row-text table__row-text--bold">13949723123</span>

                            <span class="table__row-text table__row-text--light">UAH</span>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <img class="table__row-img" src="../img/privat.png" alt="icon-currency">

                            <span class="table__row-text">312323141234213</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="page__table-nav table__nav">
            <div class="table__nav-btn">1</div>
            <div class="table__nav-btn">2</div>
            <div class="table__nav-btn is-active">2</div>
        </div>
    </div>

    <!--    </div>-->
</div>
<!--User-profile End-->