<!--User-profile Start-->
<div class="page__content-wrapper user-profile-operation">
    <div class="page__content-block user-profile__block user-profile-output__user-block">
        <div class="page__content-title">Ваши заявки</div>

        <div class="page__table-wrapper">
            <table class="table table-bid">
                <thead>
                <tr class="table__title">
                    <td class="table__row-cell table__title-text">Номер</td>
                    <td class="table__row-cell table__title-text">Статус</td>
                    <td class="table__row-cell table__title-text">Дата</td>
                    <td class="table__row-cell table__title-text">К обмену</td>
                    <td class="table__row-cell table__title-text">К получению</td>
                    <td class="table__row-cell table__title-text">Курс и скидки</td>
                </tr>
                </thead>

                <tbody>
                <tr class="table__row">
                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            234523
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block table__row-cell-block--vertical">
                            <span class="table__row-text table__row-text--light">Ожидает оплаты</span>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block table__row-cell-block--vertical">
                            <span class="table__row-text table__row-text--light">2019.12.17</span>

                            <span class="table__row-text table__row-text--light-small">14:13:43</span>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <img class="table__row-img" src="../img/privat.png" alt="icon-currency">

                            <div class="table__row-cell-block table__row-cell-block--vertical">
                                <div class="table__row-cell-block">
                                    <span class="table__row-text table__row-text--bold">1000.5</span>

                                    <span class="table__row-text table__row-text--light">PMUSD</span>
                                </div>

                                <span class="table__row-text table__row-text--light-small">4569000093845678</span>
                            </div>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <img class="table__row-img" src="../img/privat.png" alt="icon-currency">

                            <div class="table__row-cell-block table__row-cell-block--vertical">
                                <div class="table__row-cell-block">
                                    <span class="table__row-text table__row-text--bold">1000.5</span>

                                    <span class="table__row-text table__row-text--light">PMUSD</span>
                                </div>

                                <span class="table__row-text table__row-text--light-small">4569000093845678</span>
                            </div>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <div class="table__row-cell-block table__row-cell-block--vertical">
                                <span class="table__row-text table__row-text--orange  table__row-text--right">Скидка 0.0</span>

                                <span class="table__row-text table__row-text--light-small">Курс: 26.0021  (0.281)</span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="table__row">
                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            234523
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block table__row-cell-block--vertical">
                            <span class="table__row-text table__row-text--light table__row-text--green">Выполнена</span>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block table__row-cell-block--vertical">
                            <span class="table__row-text table__row-text--light">2019.12.17</span>

                            <span class="table__row-text table__row-text--light-small">14:13:43</span>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <img class="table__row-img" src="../img/privat.png" alt="icon-currency">

                            <div class="table__row-cell-block table__row-cell-block--vertical">
                                <div class="table__row-cell-block">
                                    <span class="table__row-text table__row-text--bold">1000.5</span>

                                    <span class="table__row-text table__row-text--light">PMUSD</span>
                                </div>

                                <span class="table__row-text table__row-text--light-small">4569000093845678</span>
                            </div>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <img class="table__row-img" src="../img/privat.png" alt="icon-currency">

                            <div class="table__row-cell-block table__row-cell-block--vertical">
                                <div class="table__row-cell-block">
                                    <span class="table__row-text table__row-text--bold">1000.5</span>

                                    <span class="table__row-text table__row-text--light">PMUSD</span>
                                </div>

                                <span class="table__row-text table__row-text--light-small">4569000093845678</span>
                            </div>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <div class="table__row-cell-block table__row-cell-block--vertical">
                                <span class="table__row-text  table__row-text--orange  table__row-text--right">Скидка 0.0</span>

                                <span class="table__row-text table__row-text--light-small">Курс: 26.0021  (0.281)</span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="table__row">
                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            234523
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block table__row-cell-block--vertical">
                            <span class="table__row-text table__row-text--light table__row-text--red">Отклонена</span>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block table__row-cell-block--vertical">
                            <span class="table__row-text table__row-text--light">2019.12.17</span>

                            <span class="table__row-text table__row-text--light-small">14:13:43</span>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <img class="table__row-img" src="../img/privat.png" alt="icon-currency">

                            <div class="table__row-cell-block table__row-cell-block--vertical">
                                <div class="table__row-cell-block">
                                    <span class="table__row-text table__row-text--bold">1000.5</span>

                                    <span class="table__row-text table__row-text--light">PMUSD</span>
                                </div>

                                <span class="table__row-text table__row-text--light-small">4569000093845678</span>
                            </div>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <img class="table__row-img" src="../img/privat.png" alt="icon-currency">

                            <div class="table__row-cell-block table__row-cell-block--vertical">
                                <div class="table__row-cell-block">
                                    <span class="table__row-text table__row-text--bold">1000.5</span>

                                    <span class="table__row-text table__row-text--light">PMUSD</span>
                                </div>

                                <span class="table__row-text table__row-text--light-small">846371728218736261621</span>
                            </div>
                        </div>
                    </td>

                    <td class="table__row-cell">
                        <div class="table__row-cell-block">
                            <div class="table__row-cell-block table__row-cell-block--vertical">
                                <span class="table__row-text table__row-text--orange  table__row-text--right">Скидка 0.0</span>

                                <span class="table__row-text table__row-text--light-small">Курс: 26.0021  (0.281)</span>
                            </div>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="page__table-nav table__nav">
            <div class="table__nav-btn">1</div>
            <div class="table__nav-btn">2</div>
            <div class="table__nav-btn is-active">2</div>
        </div>
    </div>

    <!--    </div>-->
</div>
<!--User-profile End-->