<!--User-profile Start-->
<div class="page__content-wrapper user-profile user-profile-requisites">
    <div class="page__content-block user-profile__block">
        <div class="page__content-title">Профиль пользователя</div>

        <div class="profile-menu user-profile__menu">
            <div class="profile-menu__btn is-active">Реквизиты</div>

            <div class="profile-menu__btn">Сменить пароль</div>

            <div class="profile-menu__btn">Партнерка</div>
        </div>

        <div class="user-profile-requisites__wrapper">
            <label class="card__label user-block__label user-profile-requisites__label">
                <input class="card__input user-block__input user-profile-requisites__input" type="text">

                <span class="card__input-placeholder user-block__input-placeholder is-active">Имя</span>
            </label>

            <label class="card__label user-block__label user-profile-requisites__label">
                <input class="card__input user-block__input user-profile-requisites__input" type="text">

                <span class="card__input-placeholder user-block__input-placeholder is-active">Фамилия</span>
            </label>

            <label class="card__label user-block__label user-profile-requisites__label">
                <input class="card__input user-block__input user-profile-requisites__input" type="text">

                <span class="card__input-placeholder user-block__input-placeholder is-active">Отчество</span>
            </label>

            <label class="card__label user-block__label user-profile-requisites__label">
                <input class="card__input user-block__input user-profile-requisites__input" type="text">

                <span class="card__input-placeholder user-block__input-placeholder is-active">Телефон</span>
            </label>
        </div>

        <div class="user-profile-requisites__block">
            <div class="user-profile-requisites__card">
                <div class="user-profile-requisites__card-wrapper">
                    <div class="user-profile-requisites__card-title">
                        <img class="user-profile-requisites__card-img" src="../img/privat-profile.png" alt="card-img">

                        <span class="user-profile-requisites__card-text">Privat24 UAH</span>
                    </div>

                    <div class="user-profile-requisites__card-dropdown">
                        <label class="card__label user-block__label ">
                            <input class="card__input user-block__input user-profile-requisites__input" type="text">

                            <span class="card__input-placeholder user-block__input-placeholder is-active">Телефон</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="user-profile-requisites__card is-active">
                <div class="user-profile-requisites__card-wrapper">
                    <div class="user-profile-requisites__card-title">
                        <img class="user-profile-requisites__card-img" src="../img/privat-profile.png" alt="card-img">

                        <span class="user-profile-requisites__card-text">Privat24 UAH</span>
                    </div>

                    <div class="user-profile-requisites__card-dropdown">
                        <label class="card__label user-block__label ">
                            <input class="card__input user-block__input user-profile-requisites__input" type="text">

                            <span class="card__input-placeholder user-block__input-placeholder is-active">Телефон</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="user-profile-requisites__card">
                <div class="user-profile-requisites__card-wrapper">
                    <div class="user-profile-requisites__card-title">
                        <img class="user-profile-requisites__card-img" src="../img/privat-profile.png" alt="card-img">

                        <span class="user-profile-requisites__card-text">Privat24 UAH</span>
                    </div>

                    <div class="user-profile-requisites__card-dropdown">
                        <label class="card__label user-block__label ">
                            <input class="card__input user-block__input user-profile-requisites__input" type="text">

                            <span class="card__input-placeholder user-block__input-placeholder is-active">Телефон</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="user-profile-requisites__card">
                <div class="user-profile-requisites__card-wrapper">
                    <div class="user-profile-requisites__card-title">
                        <img class="user-profile-requisites__card-img" src="../img/privat-profile.png" alt="card-img">

                        <span class="user-profile-requisites__card-text">Privat24 UAH</span>
                    </div>

                    <div class="user-profile-requisites__card-dropdown">
                        <label class="card__label user-block__label ">
                            <input class="card__input user-block__input user-profile-requisites__input" type="text">

                            <span class="card__input-placeholder user-block__input-placeholder is-active">Телефон</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="user-profile-requisites__card is-active">
                <div class="user-profile-requisites__card-wrapper">
                    <div class="user-profile-requisites__card-title">
                        <img class="user-profile-requisites__card-img" src="../img/privat-profile.png" alt="card-img">

                        <span class="user-profile-requisites__card-text">Privat24 UAH</span>
                    </div>

                    <div class="user-profile-requisites__card-dropdown">
                        <label class="card__label user-block__label ">
                            <input class="card__input user-block__input user-profile-requisites__input" type="text">

                            <span class="card__input-placeholder user-block__input-placeholder is-active">Телефон</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="user-profile-requisites__card">
                <div class="user-profile-requisites__card-wrapper">
                    <div class="user-profile-requisites__card-title">
                        <img class="user-profile-requisites__card-img" src="../img/privat-profile.png" alt="card-img">

                        <span class="user-profile-requisites__card-text">Privat24 UAH</span>
                    </div>

                    <div class="user-profile-requisites__card-dropdown">
                        <label class="card__label user-block__label ">
                            <input class="card__input user-block__input user-profile-requisites__input" type="text">

                            <span class="card__input-placeholder user-block__input-placeholder is-active">Телефон</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="page__btn user-profile-requisites__btn-save">Сохранить изменения</div>
    </div>
</div>
<!--User-profile End-->