//Variables Start

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');

$main-font                 : 'Ubuntu', sans-serif;

$basic-white               : #fff;
$basic-black               : #000;
$basic-grey                : #C4C4C4;
$basic-shadow              : rgba(50, 50, 50, 0.1);
$basic-invisible           : rgba(0, 0, 0, 0);
$basic-grey-select         : #9996A7;

$main-color                : #550CB2;
$main-orange-color         : #FF822E;
$main-text-color           : #372D6C;
$main-border-color         : #867EAC;
$main-title-color          : #4E4C53;
$main-checkbox-color       : #9FA6B0;




//Variables End