<!--Ecard Start-->
<section class="main">
  <div class="background">
    <div></div>
    <svg class="background-additional">
      <use xlink:href="./images/icons-sprite.svg#background-blue"></use>
    </svg>
  </div>

  <div class="wrapper">
    <div class="column">
      <h2>eCard</h2>

      <p>
        Техническая платформа для проведения онлайн-платежей банковскими
        картами.
      </p>

      <button class="blue">Попробовать демо</button>
    </div>

    <div class="column">
      <img src="../img/ecard-form.png" alt="form" />
      <img src="../img/ecard-card-blue.png" alt="card" />
      <img src="../img/ecard-card-orange.png" alt="card" />
    </div>
  </div>
</section>

<section class="about">
  <h3>Функционал сервиса</h3>
  <div class="wrapper">
    <div class="row">
      <div class="block">
        <svg>
          <use xlink:href="./images/icons-sprite.svg#compare-arrows"></use>
        </svg>
        <h4>Поддержка всех типов карточных транзакций</h4>

        <span
          >Платформа дает возможность проводить операции списания, блокировки
          суммы, возвратов, рефандов, рекуррентных платежей, h2h платежи</span
        >
      </div>

      <div class="block">
        <svg>
          <use xlink:href="./images/icons-sprite.svg#mdi-transform"></use>
        </svg>
        <h4>Realtime свитчинг платежных шлюзов (эквайеров)</h4>

        <span
          >eCard поддерживает возможность настроить автоматическое определение
          платежного направления, через который произойдет проведение платежа
          (по валюте, рангу, МПС, лимитах и т.д)</span
        >
      </div>
    </div>

    <div class="row">
      <div class="block">
        <svg>
          <use xlink:href="./images/icons-sprite.svg#mdi_email"></use>
        </svg>
        <h4>Нотификация партнеров</h4>

        <span
          >Платформа обеспечивает гарантированную доставку нотификаций партнерам
          о финальных транзакциях</span
        >
      </div>

      <div class="block">
        <svg>
          <use xlink:href="./images/icons-sprite.svg#mdi_shield"></use>
        </svg>
        <h4>Антифрод</h4>

        <span
          >Антифрод анализ и предотвращение мошенничества с карточными
          данными</span
        >
      </div>
    </div>

    <div class="row">
      <div class="block">
        <svg>
          <use xlink:href="./images/icons-sprite.svg#mdi_tumb"></use>
        </svg>
        <h4>Кастомизация страницы оплаты</h4>

        <span
          >Платформа предоставляет возможность настраивать внешний и
          функциональный вид страницы оплаты под бизнес-потребности</span
        >
      </div>

      <div class="block">
        <svg>
          <use xlink:href="./images/icons-sprite.svg#mdi_plate"></use>
        </svg>
        <h4>Realtime свитчинг платежных шлюзов (эквайеров)</h4>

        <span
          >eCard поддерживает возможность настроить автоматическое определение
          платежного направления, через который произойдет проведение платежа
          (по валюте, рангу, МПС, лимитах и т.д)</span
        >
      </div>
    </div>
  </div>
</section>

<section class="advantages">
  <h3>Преимущества</h3>

  <div class="wrapper">
    <div class="box">
      <div class="row">
        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#ser-gear"></use>
          </svg>

          <div>Гибкость</div>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#ser-arrows-4"></use>
          </svg>

          <div>Мультиэквайерность</div>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#ser-shield"></use>
          </svg>

          <div>Безопасность платежей</div>
        </div>
      </div>

      <div class="row">
        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#ser-done"></use>
          </svg>

          <div>Гибкость</div>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#ser-arrows-2"></use>
          </svg>

          <div>Простота в интеграции</div>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#ser-dynamic"></use>
          </svg>

          <div>Адаптивность</div>
        </div>
      </div>

      <div class="row">
        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#ser-opacity"></use>
          </svg>

          <div>Прозрачность</div>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#ser-scale"></use>
          </svg>

          <div>Масштабирование</div>
        </div>

        <div class="block">
          <svg>
            <use xlink:href="./images/icons-sprite.svg#ser-pci"></use>
          </svg>

          <div>PCI DSS соответствие</div>
        </div>
      </div>
    </div>

    <nav>
      <button>К списку сервисов</button>
      <button class="blue">Попробовать демо</button>
    </nav>
  </div>
</section>
<!--Ecard End-->
