//bonus style start
.bonus {
  &__wrapper {
    display: flex;
  }

  &__block {
    padding-left: 36px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 30%;

    &-title {
      background: $basic-table-background;
      color: $main-text-color;
      padding: 15px 36px;
      white-space: nowrap;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
    }

    &-text {
      color: $basic-request-text;
    }
  }

  &__row-cell {
    cursor: pointer;
    &--center {
      text-align: center;
      display: table-cell;
    }

    &.is-active {
      color: $main-orange-color;
      .table__row-text {
        color: $main-orange-color;
      }
    }
  }

  .table {
    min-width: 0;
  }

  .table__row-cell {
    width: calc(100% / 4);
    border-bottom: 0;
  }

  .page__table-wrapper {
    width: 70%;
    border-right: 1px solid $basic-light-grey;
  }

  .table__row-img {
    margin-right: 8px;
  }
}


//bonus style end