//Custom table style start
.table-bid {
  .table__row-cell {
    width: auto;
  }
  .table__row-img {
    margin-right: 12px;
  }
  .table__row-text--light-small {
    line-height: 16px;
  }
}
//Custom table style end