//Variables Start

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

$main-font                 : 'Rubik', sans-serif;
$mobile-size               : 767px;

$basic-white               : #fff;
$basic-black               : #000;
$basic-orange              : #F78C02;
$basic-shadow              : rgba(0, 0, 0, 0.1);
$basic-border              : #F4F4F4;

$page-text-color           : #666666;
$btn-bg-opacity            : rgba(255, 255, 255, 0.4);




//Variables End